
<html>
{% load static %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <title>File Pickling</title>
    <link rel="stylesheet" href="{% static 'pickle_file/css/style.css'%}">

</head>
<body style="background-color:#868e96">
    <div class="container" style='margin-top:50px'>

    <form method="post" enctype="multipart/form-data">{% csrf_token %}
     <p>
        <input id="id_docfile" type="file"  class="uploading" name="docfile">
     </p>
      <input type="submit" class="submit btn btn-primary" value="Upload" />

      <a href="media/documents/ref_coord_a.p" download><input type="button"  class="submit btn btn-primary" value=Download /></a>

    </form>

    </div>

</body>
</html>